<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/f1fc4d93-4e86-4c48-99ad-752ac78c5e95/resourcegroups/waste-api/providers/Microsoft.Web/sites/WasteApi</ResourceId>
    <ResourceGroup>waste-api</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://wasteapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>e1ab41c0-e38e-45c0-8a28-fabc0bd1b8ef</ProjectGuid>
    <PublishUrl>https://wasteapi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$WasteApi</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>